# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
terraform/.terraform.lock.hcl

# Lambda artifacts
lambda/*.zip
lambda/package/

# Python
__pycache__/
*.pyc
.venv/

# Secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Initial load data
data/

# Logs
logs/